@font-face {
  font-family: 'Space Race';
  src: local('Space Race'), url(./fonts/SPACE_RACE.woff) format('woff');
}

@font-face {
  font-family: 'Space Boards DEMO';
  src: local('Space Boards DEMO'), url(./fonts/SPACEBOARDSDEMO-8MYRB.OTF) format('opentype');
}

body {
  background-color: black;
  color: #fff;
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg.jfif');
  background-repeat: repeat;
  overflow-x: hidden;
}
